<!DOCTYPE html>
<html>
<head>
<title>SKY</title>
</head>
<body>
<span style="display: inline-block; width: 100%; text-align: center;">
    <h1 style="font-size: 48px;"> Спиридонова Кристина Юрьевна </h1>
    <img src="{{ url_for('static', filename='img/photo.png') }}" width="300">
    <p style="font-size: 32px;"> 2021 - окончание МКОУ Венгерской СОШ, получение аттестата о основном общем образовании с отличием </p>
    <p style="font-size: 32px;"> 2023 - окончание школы-интерната № 24 ОАО РЖД г. Тайшета, получение аттестата о среднем общем образовании с отличием</p>
    <p style="font-size: 32px;"> С 2023 года по настоящее время - студентка НГУ физического факультета </p>
    <a style="font-size: 32px;" href="/">На главную</a>
</span>

</body>
</html>