<!DOCTYPE html>
<html>
<head>
<title>SKY</title>
</head>
<body>
<span style="display: inline-block; width: 100%; text-align: center;">
    <h1 style="font-size: 48px;"> Мои социальные сети </h1>
    <a style="font-size: 32px;" href="https://vk.com/kree.spee/">ВКонтакте</a> <br>
    <a style="font-size: 32px;" href="https://t.me/kreesspee">Телеграмм</a> <br>
    <p style="font-size: 32px;">Электронная почта: k.spiridonova@g.nsu.ru</p> <br>
    <a style="font-size: 32px;" href="/">На главную</a>
</span>
</body>
</html>